.m-button-close{
    padding: 0 5px !important;
}

.m-main-avatar {
    position: relative;
}

.m-text-wrap{
    word-wrap: break-word;
}

.m-nav-link{
    padding-top: 15.5px !important;
    padding-bottom: 15.5px !important;
}

.m-button-upload {
    position: absolute;
    left: 2px;
    bottom: 2px;
}

.m-post-group {
    margin-bottom: 100px;
}

.m-album {
    border: 1px solid lightgray;
    position: relative;
    height: 150px;
    overflow: hidden;
    display: inline-block;

    background-size: cover;
}

.m-album:hover {
    opacity: 0.5;
}

.m-post-container {
    border: 1px solid lightgray;
    position: relative;
    height: 200px;
    width: 400px;
    overflow: hidden;
    display: inline-block;

    background-size: cover;
}

.m-post-container > .btn-group-vertical {
    margin-top: 70px;
    margin-right: -100px;
    -webkit-transition: 0.3s ease-out 0s;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}

.m-post-container:hover > .btn-group-vertical {
    margin-right: 0;
}

.m-post-container:hover > .m-post-title {
    bottom: 0;
}

.m-post-container:hover > .m-post-author {
    top: 0;
}

.m-post-title {
    padding: 2px 2px 2px 10px;
    color: black;
    background-color: rgba(44, 62, 80, 0.8);
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    -webkit-transition: 0.3s ease-out 0s;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}

.m-post-author {
    padding: 2px 2px 2px 10px;
    color: black;;
    background-color: rgba(44, 62, 80, 0.9);
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    -webkit-transition: 0.3s ease-out 0s;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}

.m-text-white {
    color: white;
}

.m-comment {
    padding: 10px;
}
